/* 

    You can write your own styles here...

    .bigCounter div{
        display: inline-block;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
    }
    .number{
        font-size: 40px;
        line-height: 40px;
        height: 40px;
    }
    
    
    import 'relative/path/to/stylesheet.scss';

*/
